html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background-color: #AAA;
}

a {
    text-decoration: none;
    color: #DDD;
    font-weight: 700;
}

.container {
    max-width:  650px;
    margin: 0 auto;
}

header,
footer {
    padding: 12px 24px;
    background: teal;
    color: #FFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    font-size: 16px;
}

.title {
    padding-right: 24px;
    font-weight: bold;
}

.gameplay-display {
    margin: 12px auto;
    padding-top: 24px;
    background-color: #333;
    color: #CCC;
}

.scores {
    display: flex;
    justify-content: space-around;
    font-size: 96px;
}

#player-score::before {
    content: "PLAYER";
    font-size: 16px;
    padding-right: 16px;
}

#computer-score::after {
    content: "CPU";
    font-size: 16px;
    padding-left: 16px;
}

.results {
    height: 150px;
    padding: 24px;
    text-align: center;
    font-size: 36px;
}

.gameplay-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

button {
    width: 200px;
    height: 200px;
    flex: 0 1 auto;
    background-size: contain;
}

button:hover {
    
}

#btn-rock {

}

#btn-paper {

}

#btn-scissors {

}

footer {
    font-size: 16px;
}
