html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #DDD;
    font-weight: 700;
}

.container {
    max-width:  650px;
    margin: 0 auto;
}

header {
    display: flex;
}

.logo {

}

.title {
    padding-right: 24px;
    font-weight: bold;
}

.gameplay-display {

}

.scores {

}

#player-score {

}

#computer-score {

}

.results {
    height: 150px;
}

.gameplay-buttons {
    display: flex;
}

button {
    width: 150px;
    height: 150px;
    flex: 1 0 auto;
    background-size: contain;
    margin: 16px;
}

button:hover {
    
}

#btn-rock {

}

#btn-paper {

}

#btn-scissors {

}

footer {
    padding: 12px 24px;
    background: teal;
    font-size: 16px;
    color: #FFF;
}
